.item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: #642382;
}

.item-buttons {
    display: flex;
    flex-direction: row;
}

.item-buttons button {
    margin: 5px;
    flex-basis: 50%;
    flex-grow: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
